# BlueJ files
*.ctxt

# IntelliJ IDEA
.idea

# Log files
*.log

# Mac OS
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore sypet-api test resource artifacts from sypet-test
sypet-api/src/test/resources/sypet-test.jar
